.navbar {
    background-color: #032541; /* Dark blue */
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    height: 40px;
    width: auto;
    display: block;
    filter: drop-shadow(0 0 3px white);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a, .nav-links span {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.nav-links a:hover, .nav-links span:hover {
    text-decoration: underline;
}

.nav-links a:visited {
    color: white;
}
